<!-- Logo is exported with a heigth of 60 pixels -->
<div style="background-color: #00d6a8ff; width:100%">
  <div style="text-align:left; width: calc(99% / 3); display: inline-block">
    <img src="/static_images/copernicus.png"/>
  </div>
  <div style="text-align:left; width: calc(99% / 3); display: inline-block">
    <img src="/static_images/logo-deimos.png"/>
  </div>
  <div style="text-align:right; width: calc(99% / 3); display: inline-block">
    <img src="/static_images/esa.png"/>
    <img src="/static_images/eu_comission.png"/>
  </div>
</div>
